.scroll-top-icon{background: #f7941d;}

#form-imovel-cad label,
#form-imovel-cad input{font-family: "Montserrat", "Open Sans", Arial;}
#form-imovel-cad label,
#form-imovel-cad #btn{font-weight:700;}
#form-imovel-cad input{font-weight:400;}
